.vscode/settings.json
.vscode/tasks.json
Python/Semester Presentation (Rust).mp4
Python/ΠΑΡΟΥΣΙΑΣΗ RUST
Python/final_project/spacecraft_1.gif
Python/final_project/spacecraft_2.gif
Python/final_project/spacecraft.png
Python/final_project/spacecraft.xcf
Python/final_project/spacecraft1.png
Python/final_project/spacecraft1.xcf
Python/final_project/spacecraft2_1.png
Python/final_project/spacecraft2_2.png
Python/final_project/spacecraft2.png
Python/final_project/spacecraft2.xcf
Python/final_project/ΔΙΑΣΤΗΜΟΠΛΟΙΟ UNFINISHED.xcf
Python/final_project/cat.png
Gimp/23-05-2023/tep8677.zip
Gimp/tep8677.zip
Gimp/30-05-2023/ergasia 1.rar
Gimp/30-05-2023/ergasia 2.rar
Gimp/30-05-2023/ergasia 1/Black_and_White_Wolves.jpg
Gimp/30-05-2023/ergasia 1/Canis_lupus.jpg
Gimp/30-05-2023/ergasia 1/teliko.jpg
Gimp/30-05-2023/ergasia 1/xionismeno bouno.jpg
Gimp/30-05-2023/ergasia 1/xionismeno bouno.xcf
Gimp/30-05-2023/ergasia 1/Χιονισμένο_βουνό.png
Gimp/30-05-2023/ergasia 1/Χωρίς όνομα.xcf
Gimp/30-05-2023/ergasia 2/arxiki.jpg
Gimp/30-05-2023/ergasia 2/teliki.jpg
