h1{
    color:rgb(138, 179, 214);
    text-shadow: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-align: center;
}   

body{
    background-color: aliceblue;
    color: black;

}
img{
    border: 2px rgb(138, 179, 214) dotted;
}

p{

    border-inline: dotted rgb(138, 179, 214) 1px;
    background-color: rgb(248, 244, 255);
    color: rgb(163, 153, 180);
    font-weight: 200;
    padding: 10px;
    border-radius: 5px;
}

a{
    color: rgb(73, 62, 62);
    font-weight: 100;
    text-shadow: none;
}

a:hover{
    color: rgb(124, 104, 104);
}



h2{
    color: rgb(211, 211, 255);
    text-shadow: none;
    font-weight: 100;
    background-color: rgb(247, 251, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-blend-mode: exclusion;
}

li{
    color: rgb(73, 62, 62);;
}

figcaption{
    color:rgb(138, 179, 214);
    font-size: small;
    font-family: serif;
    text-align: center;
    padding-block: 20px;
    border-radius: 20px;
}

table{
    background-color: rgb(248, 244, 255);
    font-weight: 200;
    font-size: medium;
}



table th{
    color: rgb(186, 186, 252);
    font-weight: 400;
}

caption{
    color: rgb(124, 104, 104);
    font-weight: 100;
    font-size: large;
}