html{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-size: 20px;
}


li{
    width: fit-content;
    transform: translateX(0px);
    transition-duration: 1000ms;
}
li:hover{
    transform: translateX(5px);
    transition-duration: 1000ms;
}

h1{
    transform: translateY(0px);
    transition-duration: 1000ms;
}
h1:hover{
    transform: translateY(-5px);
    transition-duration: 1000ms;
}

summary{
    cursor: pointer;
}


.intro-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desktop-padding{
    padding-inline: 5%;
}

/* styles for responsiveness */

@media (min-width: 768px) {
    .intro-div{
        flex-direction: row;
    }
    .desktop-padding {
        padding-inline: 10%;
    }
  }

@media (min-width: 1000px) {
    .desktop-padding {
        padding-inline: 20%;
    }
}

@media (min-width: 1400px) {
    .desktop-padding {
        padding-inline: 30%;
    }
}

/* curved arrow that goes back to main page */

.curvedArrow{
    width: 35px;
    transform: rotate(0deg) scaleX(-1);
    filter: 
        invert(0.6)
        sepia(0.2)
        hue-rotate(290deg)
        saturate(10);
}


.curvedArrow:hover{
    filter: 
        invert(0.7)
        sepia(0.2)
        hue-rotate(290deg)
        saturate(10);
}

.curvedArrowShadow{
    width: 35px;
    transform: rotate(0deg);
    transform: scaleX(-1);
    filter:blur(0.8px);
    position: absolute;
    left: 7px;
    z-index: -2;
}

.divContaingTextWithImg{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-block: 2px;
  }

hr{
    max-width: 750px;
}

td,th{
    padding-block: 10px;
    padding-inline: 5px;
}
